<h1 class="module-title">Add Node</h1>

<app-node-type-grid [dataSet]='metaNodeOptions'></app-node-type-grid>

<!--
<div class="node-types-to-add">
<div class='node-types-to-add-griditem' *ngFor="let model of modelTypes">
    <div class='node-toadd-title'>{{model.name}}</div>
    
    <div class="node-toadd-datadisplay">
        <div>Type : {{model.type}}</div>
    <div>ID : {{model.id}}</div>
    <div *ngFor="let otherOptions of model.otherOptions">
      
        <div>{{otherOptions.name}} : {{otherOptions.value}}</div>
        
    </div>
    </div>
    <div class="node-types-to-add-options">

    <app-menu-button  (click)='quickAdd(model.id)' [option]='addOptions.quick'></app-menu-button>
    <app-menu-button (click)='addAndSet(model.id)' [option]='addOptions.detailed'></app-menu-button>
</div>
</div>
</div> -->