<div [ngClass]="{
    'alive' : ds.flowMenuManager.activeNodeOption == 'node-structures',
    'dead' : ds.flowMenuManager.activeNodeOption != 'node-structures'
}">    
<div class="mainmenubuttons button-row">
<app-main-menu-button *ngFor="let option of this.ds.flowMenuManager.getMenu( 'node-structures' ).getOptions()"
[activeOption]='this.ds.flowMenuManager.getMenu( "node-structures" ).activeOption'
[option]='option'
(click)='this.ds.flowMenuManager.getMenu( "node-structures" ).setActiveOption(option)'>
</app-main-menu-button>
</div>
<h1 class="module-title">Structures</h1>

</div>