:root {

  --structureEditMenuZIbdex : 100;
  --nodeFlowMenuZIndex : 200;



  --steel: rgb(136, 149, 151);
  --steelwarm: rgb(65, 88, 92);
  --steelcool: rgb(93, 117, 121);
  --steelinfo: rgba(93, 117, 121,.5);
  --steelinfo2:rgba(95, 130, 136, 0.4);

 --dspurple: rgb(135, 27, 155);
 --dspurple2: rgb(181, 70, 200);


 --dsblue: rgb(47, 49, 144);
 --dsblue2: rgb(68, 70, 199);

 --dsgreen: rgb(36, 170, 47);
 --dsgreen2: rgb(87, 224, 98);

 --dsinfo: rgba(94, 12, 105,.1);
 --dsinfo2: rgba(175, 77, 170, 0.1);
 --dsinfo3: rgba(94, 12, 105, 0.56);

 --opaque: rgb(0,0,0,.5);
}


/*Set Up Themes*/
.default {
--primary: var(--dspurple);
--hover:  var(--dspurple2);

/*Top Bar Buttons*/
--openproject: var(--dsblue);
--openprojecthover: var(--dsblue2);

--saveproject: var(--dsgreen);
--saveprojecthover: var(--dsgreen2);

--editrosettings: var(--steel);
--editrosettingshover: var(--steelwarm);

--infobg: var(--dsinfo);
--infobg2: var(--dsinfo2);
--infobg3: var(--dsinfo3);
--menuBackGround: var(--opaque); 
}



.steel {
--primary: var(--steel);
--hover: var(--steelwarm);


--infobg: var(--steelinfo);
--infobg2: var(--steelinfo2);
--infobg3: var(--steelinfo2);
/*Top Bar Buttons*/
--openproject: var(--steel);
--openprojecthover: var(--steelwarm);

--saveproject: var(--steel);
--saveprojecthover: var(--steelwarm);

--editrosettings: var(--steel);
--editrosettingshover: var(--steelwarm);

--menuBackGround: var(--opaque); 
}


/* You can add global styles to this file, and also import other style files */
html, body {
  overflow: hidden;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
  background-color: var(--primary);
}
section {
  width: 100%;
}



@keyframes  fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes  fadeOutFromBlock {
  0% {
      display: block;
      opacity: 100;
  }

  1% {
      display: block;
      opacity: 50;
  }

  100% {
      display: none;
      opacity: 0;
  }
}



.alive {
  display: block;
  animation-name: fadeInFromNone;
  animation-duration: .5s;
}

.dead {
   display: none;
   animation-name: fadeOutFromBlock;
  animation-duration: .5s;

}

.button-row {
  display: inline-flex;
}


.flex-row {
  display: inline-flex;
}
.flex {
  display: inline-block;
}


.objectdisplaylist {
  overflow-y: scroll; 
  min-height: 950px;
  max-height: 951px;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--primary); 

border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--hover); 

}


.options-modual {
  left: calc(50% + 300px);
  top: calc(50% - 500px);
  min-width: 500px;
  min-height: 800px;
  position: absolute;
  z-index: 1000;
  display: none;
  border-radius: 10px;
  background-color: rgb(0,0,0,.7);
}


.parameter-title {
  color: white;
  text-align: center;
}



/*
Right Menu Styles
*/

h1.module-title {
font-size: 25px; 
color: white;
text-align: center;
}

h3.module-subtitle {
font-size: 20px; 
color: white;
text-align: left;
margin-left: 20px;
}


